* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff; /* Set default text color to white */
}

body {
    font-family: 'Pacifico', cursive;
    line-height: 1.6;
    text-align: center;
    padding: 50px 0;
    background-image: url("images/backk.jpeg");
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main section */
#home-container {
    max-width: 1200px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

section {
    margin-bottom: 50px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Movie cards */
.movie-card,
.tvshows-card,
.game-card {
    width: calc(25% - 20px);
    margin: 0 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.movie-card img,
.tvshows-card img,
.game-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.movie-card img:hover,
.tvshows-card img:hover,
.game-card img:hover {
    transform: scale(1.05);
}

/* Additional custom styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0D47A1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-weight: bold;
}

.swiper-container {
    max-width: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex-shrink: 0;
    width: 25%;
    text-align: center;
    padding: 20px;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.swiper-slide img:hover {
    transform: scale(1.05);
}

